<div class="dashboard-container">
  <div class="sidebar">
    <div class="nav-content">
      <a mat-button routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-button routerLink="upload" routerLinkActive="active-link">
        <mat-icon>add_circle</mat-icon>
        <span>Upload</span>
      </a>
      <a mat-button  [routerLink]="['songs', { type: 'audio' }]" routerLinkActive="active-link">
        <mat-icon>list</mat-icon>
        <span>Audios</span>
      </a>
      <a mat-button [routerLink]="['songs', { type: 'video' }]" routerLinkActive="active-link">
        <mat-icon>list</mat-icon>
        <span>Videos</span>
      </a>
      <a mat-button routerLink="my-uploads" routerLinkActive="active-link">
        <mat-icon>folder</mat-icon>
        <span>My Uploads</span>
      </a>
    </div>
  </div>

  <div class="main-body">
    <div>
      <mat-toolbar class="app-toolbar">
        <span class="spacer"></span>
        <h1>hello</h1>

      </mat-toolbar>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>